<div class ="onboarding">
  <h1 class= "title">Log in to MessageMe</h1>
  <%# <%= render "shared/errors", obj: @user %>
  <%= form_with(scope: :session, url: login_path, class: "onboarding-form", local: true, data: { turbo: false })  do |f| %>
    <div class="onboarding-form-group">
      <%= f.label "Email: ", class: "onboarding-form-label" %>
      <div>
        <%= f.email_field :email, class:"onboarding-form-input", placeholder: "Enter your email address" %>
      </div>
    </div>
    <div class="onboarding-form-group">
      <%= f.label "Password: ", class: "onboarding-form-label" %>
      <div>
        <%= f.password_field :password, class:"onboarding-form-input", placeholder: "Enter your password" %>
      </div>
    </div>
    <div class="btn-container">
      <%= f.submit 'Log in', class: "btn btn-submit" %>
    </div>
  <%end%>

</div>