<div class="navbar">
  <div class="navbar-content">
    <div class="navbar-content-logo">
      <i class="fa-regular fa-message"></i>
       <%= link_to "MessageMe", root_path, class: "navbar-content-logo-text" %>
    </div>
    <div class="navbar-content-links">
      <ul>
        <%= link_to 'Messages', messages_path, class:"nav-link #{request.path == "/messages" && 'active'}" %>
        <%= link_to 'Log in', root_path, class:"nav-link"%>
        <%= link_to 'Sign up', root_path, class:"nav-link"%>
        <%= link_to 'Logout', root_path, class:"nav-link", data: { "turbo-method": :delete }%>
      </ul>
    </div>
  </div>
</div>